* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fafafa;
  height: 2000px;
}

.video-section {
  background-image: url(images/video-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  width: 100%;
  height: 570px;

  position: relative;
  top: 60px;
}

.player-frame {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  /* right: 50%; */
  /* bottom: 50%; */
  transform: translate(-50%, -50%);

  cursor: pointer;
}

.player-frame img {
  width: 78px;
  height: 78px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container .col {
  height: 150px;
  background-color: #ffffff;
  box-shadow: -5px 35px 65px rgba(185, 185, 185, 0.13);
  border-radius: 10px;

  position: absolute;
  width: 100%;
  top: 15px;
}

.video-details {
  margin-bottom: 100px;
}

.video-details .container {
  position: relative;
}

nav {
  background-color: white;
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.03);
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav ul li {
  display: inline-block;
  padding: 20px 30px;
}
