body {
  font-family: Roboto;
}

.navbar {
  padding: 25px 0 !important;
}

.navbar-brand img {
  width: 112px;
  height: 39px;
}

.nav-link {
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #000000 !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.custom-btn {
  padding: 12px 32px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 25px;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  background-color: transparent;
}

.custom-btn-light {
  border: 2px solid transparent;
  transition: all 0.5s;
}

.custom-btn-light:hover {
  border: 2px solid black;
}

.custom-btn-dark {
  background-color: black;
  color: white;
}

.header-content {
  margin-top: 54px;
  margin-bottom: 69px;
}

.header-box h6 {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #a6a6a6;
}

.header-box h1 {
  font-size: 64px;
  line-height: 77px;
  color: #000000;
  padding: 0 25px 23px 25px;
}

.header-box p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #212529;
  margin-bottom: 36px;
}

.header-box {
  padding: 0 80px;
}

.custom-row {
  display: flex;
  justify-content: center;
}

.custom-col {
  margin: 55px 31.5px 40px 31.5px;
  display: flex;
  align-items: center;
}

.custom-col h6 {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #686868;
}

.custom-col img {
  margin-right: 11px;
  width: 18px;
  height: 13px;
}

.section-1 h6 {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #a6a6a6;
  text-align: center;
}

.section-1 h1 {
  font-weight: normal;
  font-size: 61px;
  line-height: 73px;
  color: #000000;
  padding: 0 25px;
  margin-bottom: 89px;
}

.process-img {
  width: 95%;
}

.steps-section {
  background-color: #fafafa;
}

.box h1 {
  font-size: 61px;
  line-height: 73px;
}

.box h6 {
  font-size: 16px;
  line-height: 19px;
  color: #a6a6a6;
}

.box {
  padding: 0 30px;
}

.col-box-right img {
  height: 210px;
}

.col-box-right-header {
  text-align: right;
  margin-bottom: 40px;
}

.col-box h3 {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.col-box p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #212529;
}

.col-box-center-header {
  text-align: center;
  margin-bottom: 40px;
}

.section-3 {
  margin: 80px 0 100px 0;
}

.section3-box-left {
  margin-right: 118px;
}

.section3-box h1 {
  font-weight: normal;
  font-size: 61px;
  line-height: 73px;
  color: #000000;
  margin-bottom: 23px;
}

.section3-box p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #212529;
  margin-bottom: 16px;
}

.section3-box img {
  width: 100%;
}
