@font-face {
  font-family: Inter-Black;
  src: url(../fonts/Inter-Black.ttf);
}

@font-face {
  font-family: Inter-Bold;
  src: url(../fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: Inter-ExtraBold;
  src: url(../fonts/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: Inter-ExtraLight;
  src: url(../fonts/Inter-ExtraLight.ttf);
}

@font-face {
  font-family: Inter-Light;
  src: url(../fonts/Inter-Light.ttf);
}

@font-face {
  font-family: Inter-Medium;
  src: url(../fonts/Inter-Light.ttf);
}

@font-face {
  font-family: Inter-Regular;
  src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter-SemiBold;
  src: url(../fonts/Inter-SemiBold.ttf);
}

@font-face {
  font-family: Inter-Thin;
  src: url(../fonts/Inter-Thin.ttf);
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: 100%;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-position: center;
  vertical-align: middle;
  background-color: #f1b301;
}

.icon.icon-tel {
  mask-image: url("../icons/tel.svg");
  -webkit-mask-image: url("../icons/tel.svg");
}

.icon.icon-bag {
  mask-image: url("../icons/bag.svg");
  -webkit-mask-image: url("../icons/bag.svg");
}

.icon.icon-hamburger {
  width: 18px;
  height: 16px;
  mask-image: url("../icons/hamburger.svg");
  -webkit-mask-image: url("../icons/hamburger.svg");
}

.pm-0, body header nav, body header nav .container .collapse ul li a, body header nav .container .collapse ul li .d-flex a h6, body header nav .container .collapse ul li .d-flex a h3 {
  margin: 0 !important;
  padding: 0 !important;
}

.item-center, body header nav .container .collapse ul li:last-child .counter-box .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-family: Inter-Regular !important;
}

body header {
  margin-bottom: 79.5px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(66%, #ffffff), color-stop(34%, #800a7a));
  background-image: linear-gradient(to right, #ffffff 66%, #800a7a 34%);
}

body header nav .container {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(68%, #ffffff), color-stop(32%, #800a7a));
  background-image: linear-gradient(to right, #ffffff 68%, #800a7a 32%);
  padding-top: 28px;
}

body header nav .container .navbar-brand img {
  width: 52px;
  height: 55px;
}

body header nav .container .collapse ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header nav .container .collapse ul li {
  margin-left: 40px;
}

body header nav .container .collapse ul li a {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222124 !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

body header nav .container .collapse ul li a:hover {
  color: #f1b301 !important;
}

body header nav .container .collapse ul li .d-flex span {
  margin-left: 40px;
  margin-right: 19px;
}

body header nav .container .collapse ul li .d-flex .icon-tel {
  width: 18px;
  height: 18px;
}

body header nav .container .collapse ul li .d-flex a {
  text-decoration: none;
}

body header nav .container .collapse ul li .d-flex a h6 {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

body header nav .container .collapse ul li .d-flex a h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

body header nav .container .collapse ul li:last-child {
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}

body header nav .container .collapse ul li:last-child .counter-box {
  position: relative;
}

body header nav .container .collapse ul li:last-child .counter-box .counter {
  background: #f1b301;
  border: 2px solid #800a7a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: 10px;
  border-radius: 50%;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
}

body header .header-content {
  overflow: hidden;
}

body header .header-content .container {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(68%, #ffffff), color-stop(32%, #800a7a));
  background-image: linear-gradient(to right, #ffffff 68%, #800a7a 32%);
}

body header .header-content .container .row .col-xl-5 h1 {
  font-weight: 900;
  font-size: 80px;
  line-height: 85px;
  color: #222124;
  font-family: Inter-ExtraBold;
  margin-top: 125px;
}

body header .header-content .container .row .col-xl-5 p {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #222124;
  padding-right: 40px;
}

body header .header-content .container .row .col-xl-7 .box-img {
  text-align: right;
  margin-top: 68px;
}

body header .header-content .container .row .col-xl-7 .box-img img {
  width: 691px;
  height: 524px;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
}

body header .header-content .container .row .col-xl-6 .owl-carousel-1 {
  margin-top: -70px;
}

body header .header-content .container .row .col-xl-6 .owl-carousel-1 .item .item-card {
  position: relative;
  border-radius: 12px;
  height: 200px;
  margin-right: 30px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

body header .header-content .container .row .col-xl-6 .owl-carousel-1 .item .item-card.item-yellow {
  background: linear-gradient(315.49deg, #ffc85c 1.32%, #f1b301 96.68%);
}

body header .header-content .container .row .col-xl-6 .owl-carousel-1 .item .item-card.item-yellow h3 {
  color: #e76a06;
}

body header .header-content .container .row .col-xl-6 .owl-carousel-1 .item .item-card.item-yellow h3 span {
  margin-left: 15px;
}

body header .header-content .container .row .col-xl-6 .owl-carousel-1 .item .item-card.item-violet {
  background-color: #800a7a;
}

body header .header-content .container .row .col-xl-6 .owl-carousel-1 .item .item-card.item-violet h3 {
  color: #fc96f7;
}

body header .header-content .container .row .col-xl-6 .owl-carousel-1 .item .item-card.item-violet h3 span {
  margin-left: 25px;
}

body header .header-content .container .row .col-xl-6 .owl-carousel-1 .item .item-card .badge {
  padding: 10px 22px;
  background: rgba(255, 255, 255, 0.203344);
  border-radius: 19px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

body header .header-content .container .row .col-xl-6 .owl-carousel-1 .item .item-card .badge img {
  width: 20px;
  height: 20px;
  display: inline;
  margin-right: 11px;
}

body header .header-content .container .row .col-xl-6 .owl-carousel-1 .item .item-card .item-img {
  width: 55%;
  position: absolute;
  right: 0;
  bottom: 0;
}

body header .header-content .container .row .col-xl-6 .owl-carousel-1 .item .item-card h3 {
  font-family: Inter-ExtraBold;
  font-size: 34px;
  line-height: 32px;
  text-transform: uppercase;
  margin-top: 56px;
}

@media only screen and (max-width: 768px) {
  body header {
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(28%, white), color-stop(28%, #800a7a), color-stop(72%, #800a7a), color-stop(72%, white));
    background: linear-gradient(180deg, white 28%, #800a7a 28%, #800a7a 72%, white 72%);
  }
  body header nav {
    background-color: #ffffff;
    position: fixed !important;
    top: 0;
    width: 100%;
  }
  body header nav .container {
    background-image: unset;
  }
  body header nav .container .navbar-toggler {
    border: none;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  body header nav .container .navbar-toggler .icon-hamburger {
    background-color: #222124;
  }
  body header nav .container .collapse ul {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    padding-left: 15px;
  }
  body header nav .container .collapse ul li {
    margin: 5px 0;
  }
  body header nav .container .collapse ul li .d-flex span {
    margin-left: 0;
  }
  body header nav .container .collapse ul li .d-flex a h6,
  body header nav .container .collapse ul li .d-flex a h3 {
    color: #222124;
  }
  body header nav .container .collapse ul li:last-child .counter-box .counter {
    border: 2px solid #ffffff;
  }
  body header .header-content .container {
    background-image: unset;
  }
  body header .header-content .container .row .col-xl-5 h1 {
    margin-top: 37px;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #ffffff;
    padding: 0 25px;
  }
  body header .header-content .container .row .col-xl-5 p {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 0;
  }
  body header .header-content .container .row .col-xl-7 .box-img {
    margin-top: 114px;
    padding: 0 25px;
  }
  body header .header-content .container .row .col-xl-7 .box-img img {
    width: 100%;
    height: unset;
    -webkit-transform: unset;
            transform: unset;
  }
  body header .header-content .container .row .col-xl-6 .owl-carousel-1 {
    margin-top: 69px;
  }
}
/*# sourceMappingURL=index.css.map */